body{
margin:0;
font-family:sans-serif;
background:#d4b23f;
}

.header{
padding:20px;
}

.top-buttons{
position:fixed;
top:20px;
left:0;
right:0;
display:flex;
justify-content:space-between;
padding:0 15px;
z-index:999;
}

button{
padding:12px;
border-radius:15px;
border:none;
}

.cart-btn{
background:black;
color:white;
}

.contact-btn{
background:white;
}

.card{
background:white;
margin:10px;
padding:10px;
border-radius:15px;
}

.modal{
position:fixed;
bottom:0;
left:0;
right:0;
background:white;
border-radius:20px 20px 0 0;
padding:20px;
max-height:80%;
overflow:auto;
z-index:1000;
}

.hidden{
display:none;
}
