body{
font-family: Arial;
background:#111;
color:white;
text-align:center;
}

.item{
border:1px solid #333;
padding:20px;
margin:20px;
border-radius:10px;
}

button{
padding:10px 20px;
background:red;
color:white;
border:none;
border-radius:5px;
}

.checkout{
background:green;
font-size:18px;
}